.Button {
  height: 36px;
  font-size: 11px;
  font-family: verdana;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none; }

.Button--green {
  background-color: #91cf43;
  border: 3px solid #91cf43;
  color: white; }
  .Button--green:hover {
    background-color: #9fd55b;
    border: 3px solid #9fd55b; }
  .Button--green:focus {
    background-color: #98d24f;
    border: 3px solid #91cf43;
    outline: 0; }

.Button--blue {
  background-color: #0089d0;
  border: 3px solid #0089d0;
  color: white; }
  .Button--blue:hover {
    background-color: #009def;
    border: 3px solid #009def; }
  .Button--blue:focus {
    background-color: #0093df;
    border: 3px solid #0089d0;
    outline: 0; }

.Button-icon {
  padding-right: 8px;
  vertical-align: text-bottom;
  font-size: 1.6em; }

.Button-icon + .Button-text {
  vertical-align: super; }

.Button-text {
  font-weight: 600; }

.Button--green.Button-icon,
.Button--blue.Button-icon {
  color: white; }
