<div style="padding-left:100px; padding-bottom: 200px">
  <supre-button (click)="log($event)" color="green" text="create" icon="ion-plus"></supre-button>
  <supre-button (click)="log($event)" color="green" text="disabled" [disabled]="true"></supre-button>
  <supre-button (click)="log($event)" height="32" color="blue" text="cornered" [corners]="true"></supre-button>
  <supre-button (click)="log($event)" color="condition" text="condition"></supre-button>
  <supre-button (click)="log($event)" color="condition" text="condition disabled" [disabled]="true"></supre-button>
</div>
